// main: ../../../css/styles.scss

#popup_newsletter {
  display: none;
  padding: 0;
  width: 100%;
  max-width:600px;

  .image {
    height: 100%;
  }

  input { border: 1px solid $primary-color}

  .discount-code {
    padding: 15px;
    border: 2px dashed $grey-color;
    font-size: 1.4rem;
    text-align: center;

  }

}

.fancybox__slide {
  padding: 30px;
}
